snippet des describe
	describe "$1" do
		$0
	end

snippet it
	it "$1" do
		$0
	end

snippet spe specify
	specify "$1" do
		$0
	end

snippet exa example
	example "$1" do
		$0
	end

snippet con context
	context "$1" do
		$0
	end
