snippet pry "pry"
require 'pry'; binding.pry
endsnippet

snippet pryr "pry-remote"
require 'pry-remote'; binding.pry_remote
endsnippet

snippet shot "capybara screenshot"
save_and_open_screenshot
endsnippet
