snippet req "require"
require "$0"
endsnippet

snippet def "define method"
def ${1:name}
end
endsnippet

snippet defi "define initialize"
def initialize$1
end
endsnippet

snippet cla "class"
class ${1:Name}
end
endsnippet

snippet mod "module"
module ${1:Name}
end
endsnippet

snippet do "do block with argument"
do |$1|
  $0
end
endsnippet
