snippet des "describe"
describe "$1" do
  $0
end
endsnippet

snippet it "it"
it "$1" do
  $0
end
endsnippet

snippet spe "specify"
specify "$1" do
  $0
end
endsnippet

snippet exa "example"
example "$1" do
  $0
end
endsnippet

snippet con "context"
context "$1" do
  $0
end
endsnippet
